.global {
    margin: 0 auto;
    width: 880px;
}

@media only screen and (max-width: 880px) {
    .global {
        width: 100%;
    }

    .portfolios-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}

.portfolio-form {
    margin: 15px auto;
    max-width: 320px;
}

.portfolios-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.portfolio-element {
    max-width: 450px;
    margin: 15px;
    border: 1px solid black;
}

.portfolio-header {
    display: flex;
    justify-content: space-between;
}

.portfolio-name {
    font-weight: bold;
    margin-left: 15px;
}

.portfolio-delete {
    margin: 15px;
}

label {
    padding-right: 5px;
}

.total-sum {
    margin: 15px 15px 0px 15px;
}

.stock-form {
    margin: 15px;
}

.name-input-field, .symbol-input-field, .quantity-input-field {
    margin-right: 10px;
}

.symbol-input-field {
    width: 40px;
}

.quantity-input-field {
    width: 40px;
}
